.content {
  min-height: 500px;
  border-bottom: $borderStyle;
}

.content-left {
  border-right: $borderStyle;

  .full {
    @include mq('sm') {
      padding-top: map-get($spacing, 'large');
    }
  }
}

.content-right .full {
  padding-left: 0;
  padding: 0 map-get($spacing, 'large');
  margin-top: map-get($spacing, 'medium');

  @include mq('sm') {
    padding: map-get($spacing, 'large');
    margin-top: 0;
    max-width: $mainWidth;
  }
}
