.main-nav {
  width: 100%;

  .link {
    padding: 15px 0;

    @include mq('lg') {
      transition: color 0.2s ease, background-color 0.2s ease;
    }
  }

  .link:hover {
    cursor: pointer;
    background-color: palette('gray', 20);

    a {
      color: palette('darkgray');
    }
  }
}

.content-left {
  max-height: 0;
  overflow: hidden;

  @include mq('sm') {
    display: block;
    overflow: visible;
    height: auto;
    max-height: none;
  }
}

.menu-show {
  max-height: 500px;
}

.hamburger-menu {
  color: palette('darkgray', 20);
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;

  @include mq('sm') {
    display: none;
  }

  i {
    cursor: pointer;
  }

  i:hover {
    color: palette('red');
  }
}
