.main-nav {
  width: 100%;
  background-color: palette('blue');
  font-family: $headingFont;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 300;

  @include mq('sm') {
    background-color: palette('white');
    color: palette('darkgray');
  }
}

.link {
  color: palette('white');
  padding: 15px 0;
  cursor: pointer;
  border-bottom: 1px dashed palette('blue', 20);

  @include mq('sm') {
    border-bottom: none;
    color: palette('darkgray');
  }

  @include mq('lg') {
    transition: color 0.2s ease, background-color 0.2s ease;
  }

  &:hover {
    background-color: palette('blue', 20);

    @include mq('sm') {
      background-color: palette('gray', 20);

      a {
        color: palette('darkgray');
      }
    }
  }
}

.content-left {
  max-height: 0;
  overflow: hidden;

  a {
    color: palette('darkgray');

    &:hover {
      text-decoration: none;
    }
  }

  @include mq('sm') {
    display: block;
    overflow: visible;
    height: auto;
    max-height: none;
  }
}

.menu-show {
  max-height: 500px;
}

.hamburger-menu {
  color: palette('darkgray', 20);
  font-size: 1.3rem;
  padding: 15px;
  text-align: center;

  @include mq('sm') {
    display: none;
  }

  i {
    cursor: pointer;
  }

  i:hover {
    color: palette('red');
  }

  .bars {
    width: 24px;
    margin: auto;
    cursor: pointer;

    &:hover .single-bar {
      background-color: palette('red');
    }
  }

  .bars .single-bar {
    border-radius: 2px;
    height: 4px;
    background-color: palette('darkgray', 20);
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
