.single-post {
  .post-title a {
    color: palette('darkgray');

    &:hover {
      color: palette('red');
      text-decoration: none;
    }
  }
}

.post-title {
  margin-top: 0;
  font-size: 2.6rem;
}

.post-content {
  padding-top: map-get($spacing, 'small');
}

.single-post {
  margin-bottom: map-get($spacing, 'large');
}

.post-date {
  color: palette('darkgray', 30);
}

.post-title {
  color: palette('darkgray');
}

.page .post-content {
  padding-top: 0;

  p:first-child {
    margin-top: 0;
  }
}
