.single-post {

}

.post-title {
  margin-top: 0;
  font-size: 2.6rem;
}

.post-meta .date {
  
}

.single-post {
  margin-bottom: map-get($spacing, 'medium');
}

.post-date {
  color: palette('darkgray', 30);
}

.post-title {
  color: palette('darkgray');
}
