.post,
.page {
  width: 100%;
}

.single-post {
  .post-title a {
    color: palette('darkgray');

    &:hover {
      color: palette('red');
      text-decoration: none;
    }
  }
}

.post-title {
  margin-top: 0;
  font-size: 2rem;
  // text-transform: uppercase;

  @include mq('sm') {
    font-size: 2.4rem;
  }
}

.post-content {
  padding-top: map-get($spacing, 'small');
}

.single-post {
  margin-bottom: map-get($spacing, 'large');
}

.post-meta {
  font-family: $headingFont;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.6;
}

.post-date {
  color: palette('darkgray', 30);
}

.post-title {
  color: palette('darkgray');
}

.page .post-content {
  padding-top: 0;

  p:first-child {
    margin-top: 0;
  }
}

.suggested-content {
  margin: map-get($spacing, 'medium') 0;
  border-top: 1px dashed palette('gray', 10);
  border-bottom: 1px dashed palette('gray', 10);

  @include mq('sm') {
    margin: map-get($spacing, 'large') 0;
  }
}

.read-story {
  p {
    color: palette('gray');
  }

  a h3 {
    color: palette('darkgray');

    &:hover {
      color: palette('red');
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.read-next-story {
  text-align: right;
}

.read-prev-story {
  text-align: left;
}
