// border styles
$borderColor: palette('gray', 10);
$borderStyle: 1px dashed $borderColor;

.full {
  height: 100%;
}

hr {
  border: none;
  height: 0px;
  border-bottom: $borderStyle;
}

img, iframe {
  max-width: 100%;
}

// definition lists
dl {
  dt {
    float: left;
    width: 150px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    margin-bottom: 1em;
  }

  dd {
    margin-left: 170px;
    margin-bottom: 1em;
  }
}

// tables
table {
  width: 100%;
  border-collapse: collapse;

  &, td {
    border: 1px solid palette('gray');
  }

  // row
  tr {
  }

  // header
  th {
    border: 1px solid palette('blue', -10);
    padding: 8px;
    background-color: palette('blue');
    color: palette('white');
    font-weight: 400;
  }

  // column
  td {
    padding: 3px;
    text-align: center;
  }
}

// text-level
a {
  color: palette('red');
  text-decoration: none;

  @include mq('lg') {
    transition: color 0.2s ease;
  }

  &:hover {
    color: palette('red', -10);
    text-decoration: underline;
  }
}

mark {
  background-color: palette('yellow', 20);
}
