.header-right .full,
.content-right .full {
  padding-left: map-get($spacing, 'content-left');
}

.content-left .full,
.content-right .full {
  padding-top: map-get($spacing, 'content-top');
}

.content-right .full {
  padding-right: map-get($spacing, 'content-left');
}

.full {
  height: 100%;
}

.single-post {
  margin-bottom: map-get($spacing, 'content-top');
}
