body {
  font-family: $mainFont;
  font-size: $baseSize;
  hyphens: auto;

  @include mq('sm') {
    font-size: 19px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFont;
  line-height: 1.4em;
  color: palette('darkgray');
}

@each $heading, $size in $headingSizes {
  #{$heading} {
    font-size: $size;
  }
}

p,
dd,
dt,
li,
td {
  line-height: 1.6;
}

code, kbd, pre, samp {
  font-family: 'op-mono-book', monospace;

  & em {
    font-family: 'op-mono-book-italic', monospace;
  }
}

// code blocks
pre {
  line-height: 1.4;

  .hljs {
    padding: 20px;
  }
}

p code {
  padding: 3px 6px;
  background-color: palette('blue', 60);
  color: palette('green', 6);
  border-radius: 3px;
  border: 1px solid palette('blue', 50);
}
