{{!< default}}

<article class="post page">

  <header class="post-header page-header">
    {{!-- Page Title --}}
    <h1 class="post-title page-title">404!</h1>
  </header>

  {{!-- Content --}}
  <section class="post-content page-content">
    <p>Sorry, it looks like what you were looking for is not available.</p>
  </section>

</article>
