{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<div class="single-post">
  <h1 class="post-title"><a href="#">A Full and Comprehensive Style Test</a></h1>
  <p class="post-preview">
    Below is just about everything you’ll need to style in the theme. Check the source code to see the many embedded elements within paragraphs. <span class="view-post">»</span>
  </p>
  <div class="post-meta">
    <span class="post-date">27 September 2014</span>
  </div>
</div>
<div class="single-post">
  <h1 class="post-title"><a href="#">The Businessman & The Fisherman</a></h1>
  <p class="post-preview">An American businessman took a vacation to a small coastal Mexican village on doctor’s orders. Unable to sleep after an urgent phone call from the »</p>
  <div class="post-meta">
    <span class="post-date">12 August 2014</span>
  </div>
</div>
<div class="single-post">
  <h1 class="post-title"><a href="#">I Have a Dream</a></h1>
  <p class="post-preview">I am happy to join with you today in what will go down in history as the greatest demonstration for freedom in the history of our »</p>
  <div class="post-meta">
    <span class="post-date">28 August 1963</span>
  </div>
</div>

{{> "loop"}}
