{{!< default}}

{{#post}}
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<article class="post page">

  <header class="post-header page-header">
    {{!-- Page Title --}}
    <h1 class="post-title page-title">{{title}}</h1>
  </header>

  {{!-- Content --}}
  <section class="post-content page-content">
    {{content}}
  </section>

  <form id="contactForm">
    <label for="name">Name:</label>
    <input id="visitorName" type="text" placeholder="Joe Schmidt" required>
    <label for="email">Email:</label>
    <input id="visitorEmail" type="email" placeholder="joe@gmail.com" required>
    <label for="message">Message:</label>
    <textarea id="visitorMessage" name="message" id="message" rows="6" placeholder="Hi, message here...." required></textarea>
    <button id="sendContactForm" type="submit" class="blue">Submit</button>
    </label>
  </form>

  <script>
  (function() {
    var $name = $('#visitorName');
    var $email = $('#visitorEmail');
    var $message = $('#visitorMessage');
    var $form = $('#contactForm');
    var $button = $('#sendContactForm');

    $form.submit(onSubmit);

    function onSubmit(e) {
      e.preventDefault();
      startSpinner();
      $.ajax({
        url: 'https://api.kanadachi.com/contact',
        type: 'POST',
        data: JSON.stringify({
          name: $name.val(),
          email: $email.val(),
          message: $message.val()
        }),
        contentType: 'application/json'
      })
        .done(onSuccess)
        .fail(onError);
    }

    function startSpinner() {
      $button.prop('disabled', true);
      $button.removeClass('blue');
      $button.addClass('gray');
      $button.html('<div class="spinner"></div>');
    }

    function onSuccess() {
      $button.removeClass('gray');
      $button.addClass('green');
      $button.html('Your message was sent.');
      setTimeout(resetForm, 5000);
    }

    function onError(err) {
      $button.removeClass('gray');
      $button.addClass('red');
      $button.html('Error! Please find me on social.');
      setTimeout(resetForm, 5000);
    }

    function resetForm() {
      $button.prop('disabled', false);
      $button.removeClass('red green');
      $button.addClass('blue');
      $button.html('Submit');
      $name.val('');
      $email.val('');
      $message.val('');
    }

  })();
  </script>

</article>
{{/post}}
