{{!< default}}

{{#post}}
<article class="post page">

  <header class="post-header page-header">
    {{!-- Page Title --}}
    <h1 class="post-title page-title">{{title}}</h1>
  </header>

  {{!-- Content --}}
  <section class="post-content page-content">
    {{content}}
  </section>

</article>
{{/post}}
