// font-family
$headingFont: 'myriad-pro', sans-serif;
$mainFont: 'jaf-facitweb', sans-serif;

// font sizes
$baseSize: 14px;
$headingSizes: (
  'h1': 2rem,
  'h2': 1.8rem,
  'h3': 1.6rem,
  'h4': 1.4rem,
  'h5': 1.2rem,
  'h6': 1rem
);

// colors
$colors: (
  'white'   : #fff,
  'gray'    : #babfc4,
  'darkgray': #373a3e,
  'blue'    : #3A6496,
  'green'   : #3f692c,
  'yellow'  : #FFD34F,
  'orange'  : #F29A2E,
  'red'     : #E03C3C
);

// maps
$spacing: (
  'small'  : 15px,
  'medium': 30px,
  'large'  : 45px
);

$breakpoints: (
  'sm' : 48em,
  'md' : 64em,
  'lg' : 75em,
);
