// font-family
$mainFont: 'jaf-facitweb', sans-serif;

// colors
$colors: (
  'white'   : #FAFAFB,
  'gray'    : #babfc4,
  'darkgray': #373a3e,
  'blue'    : #3A6496,
  'green'   : #53853C,
  'yellow'  : #FFD34F,
  'orange'  : #F29A2E,
  'red'     : #D94F3A
);

// maps
$spacing: (
  'content-left': 45px,
  'default'     : 30px,
  'content-top' : 45px
);
